<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artists</title>
  </head>

  <body>
    <h1>Artists</h1>

    <ul>
      <% Artist.all.each do |artist| %>
        <li>
          <a href="<%= artist.to_slug %>.html"><%= artist.name %></a>
        </li>
      <% end %>
    </ul>

  </body>
</html>
